{{ partial "header.html" . }}

		{{ `<!-- MegaWorld Theme v1 index.html -->` | safeHTML }}

		<main id="main_content" class="grid" role="main">
{{ if .IsHome }}
			<h1>Introduction:</h1>
			<p>
				In MegaWorld, characters are based on Terra circa 3013. Technology has achieved new heights and many things have changed. What was once America is now under a monarchy. Ruled by a High King or High Queen, who is elected to the throne by public vote. Colorado is now an <em>enchanted forest</em> mostly inhabited by elves, fairies, ents and such. There is space travel now and <em>space aliens</em> inhabit Terra. Though they avoid Roswell New Mexico for some unspoken reason. Due to this scenario and the character creation system it is possible to play ANY type of character imaginable. Want to play a cybernetic hungry netrunner who happens to be an elfin noble? How about a cybernetic half-giant bounty-hunter? Or an alien shape-shifter?
			</p>
			<p>
				<abbr title="By The Way">BTW</abbr>, please forgive the mess. This collection of <abbr title="Roleplaying Game">RPG</abbr> resources is frought with inconsistencies regarding equipment, etc. I hope to resolve this in the future. But that will come after (at the same time?) as I finish the newest versions of MegaWorld.
			</p>
{{ end }}
{{ partial "footer.html" . }}