{{ partial "header.html" . }}
		{{ `<!-- MegaWorld Theme v1 equipment single.html -->` | safeHTML }}

		<main id="main_content" class="grid" role="main">
			<header>
				<h1>{{ .Title }}</h1>
			</header>
			
			{{ .Content }}

			<h3>Melee Weapons</h3>
{{ $data := getCSV "," "static/equipment/weapons-melee.head.csv" }}
{{ partial "table-csv.html" $data }}

			<h3>Missile Weapons</h3>
{{ $data := getCSV "," "static/equipment/weapons-missile.head.csv" }}
{{ partial "table-csv.html" $data }}

{{ with .Site.Data.combat.equipment.links }}
			<h3>Reference List</h3>
			<ul>
{{ range sort . }}
				<li><a href="{{ .url }}">{{ .name }}</a></li>{{ end }}
			</ul>{{ end }}
		</main>

{{ partial "footer.html" . }}
