{{ partial "header.html" . }}
		{{ `<!-- MegaWorld Theme v1 equipment single.html -->` | safeHTML }}

		<main id="main_content" class="grid" role="main">
			<header>
				<h1>{{ .Title }}</h1>
			</header>
			
			{{ .Content }}

{{ range .Params.tables }}
			<h3>{{ .title }}</h3>{{ $data := getCSV "," .url }}
{{ partial "table-csv.html" $data }}{{ end }}

{{ with .Params.ref_links }}
			<h3>Reference List</h3>
			<ul>
{{ range . }}
				<li><a href="{{ .url }}">{{ .name }}</a></li>{{ end }}
			</ul>{{ end }}
		</main>

{{ partial "footer.html" . }}
