#
# MegaWorld Site Caddy Config
#
megaworld.online:80, *.megaworld.online:80, megaworldrpg.com:80, *.megaworldrpg.com:80, megaworld.info:80, *.megaworld.info:80 {
	#
	# Log files
	#
	log ../log/access.log {
		size 50  # Rotate after 50 MB
		age  365 # Keep rotated files for 30 days
		keep 100 # Keep at most 5 log files
	}

	errors {
		log ../log/error.log {
			size 50  # Rotate after 50 MB
			age  365 # Keep rotated files for 30 days
			keep 100 # Keep at most 5 log files
		}
		404 404.html # Not Found
		500 500.html # Internal Server Error
	}

	#
	# Headers
	#

	# header /v1/ X-MegaWorld "Version 1.2.0"
	header / X-MegaWorld "Version 1.2.0"

	#
	# File Handling
	#
	gzip

	internal /hidden/

	minify /assets /MegaWorld.css

	# root /vhost/online/megaworld/www/web

	#
	# Site search
	#
	search / {
		engine bleve				# Default: bleve
		datadir /tmp/caddyIndex		# Default: /tmp/caddyIndex
		endpoint /search			# Default: /search
		template hidden/search.html	# Default is a simple, built-in template
		-path hidden
		-path humans.txt
		-path index.xml
		-path */index.xml
		-path robots.txt
	}
}
